* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%; 
    height: 100%;   
}
body {
    background-color: #eeeeee;
}
/* 
home
*/
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left-col {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
}
.left-col::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40%;    
    width: 100%;
    height: 5%;
    background-color: #00ADB5;
    transform: rotate(90deg);
}
.left-col::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -40%;
    background-color: #00ADB5;
    width: 100%;
    height: 5%;
    background-color: #00ADB5;
    transform: rotate(90deg);
}

.right-col {
    background-color: #222831;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
}

.pic-div {
    width: 50%;
    height: 60%;
    position: relative;
}

.pic-div img {
    width: 100%;
    height: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 7px 1px rgba(34,40,49,0.45);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(34,40,49,0.45);
    -moz-box-shadow: 0px 0px 7px 1px rgba(34,40,49,0.45);
    transition: all 0.3s ease-out;
}
.pic-div img:hover {
    transform: scale(1.1)
}
.ryt-content {
    width: 80%;
    height: 80%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-me {
    /* border: 1px solid white; */
    width: 100%;
    height: 50%;
}
.why-sovtech {
    /* border: 1px solid white; */
    width: 100%;
    height: 50%;
}

.intro-me .hello-text {
    font-size: 4rem;
    text-transform: uppercase;
    color: #00ADB5;
    text-align: center;
}
.intro-me .aboutme-text {
    font-size: 1.4rem;
    text-align: center;
}
.why-sovtech .sovtech-question {
    font-size: 3rem;
    color: #00ADB5;
    text-align: center;
    text-transform: uppercase;
}
.why-sovtech .sovtech-answer {
    font-size: 1.4rem;
    text-align: center;
}
/* 
Portfolio
*/
.portfolio {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #222831;
}
.heading {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.heading h1 {
    font-size: 4rem;    
    text-transform: uppercase;
    position: relative;
    padding: 1rem 0;
}
.heading h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 0.5rem;
    width: 80%;
    background-color: #222831;
    border-radius: 5px;
    
}
.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
    height: 80%;
}

.projects .project-one {
    background-color: #393E46;
    color: #eeeeee;
    text-align: center;
    height: 70%;
    width: 45%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 4rem;
    transition: all 0.3s ease-in-out;
}
.projects .project-one:hover {
    transform: scale(1.05);
}
.projects .project-two {
    background-color: #393E46;
    color: #eeeeee;
    height: 70%;
    width: 45%;   
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 4rem;
    transition: all 0.3s ease-in-out;
}
.projects .project-two:hover {
    transform: scale(1.05);
}
.projects .project-one h1, .projects .project-two h1 {
    font-size: 3rem;    
}
.projects .languages {
    color: #00ADB5;
    font-size: 1.1rem;
}
.projects .description {
    font-size: 1.5rem;
    text-align: center;
}
.projects .repo-link {
    border: 3px solid #00ADB5;        
    padding: 1rem 4rem;
    margin-top: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;  
    color: #00ADB5;
    transition: all 0.3s ease-in-out; 
    font-weight: 800;
    text-decoration: none;
}
.projects .repo-link:hover {
    background-color: #00ADB5;
    color: #222831;
    cursor: pointer;
}
.projects .project-two .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.projects .project-two .links .web-link {
    border: 3px solid #00ADB5; 
    margin-left: 5px;
    margin-top: 5px;
    font-size: 1.5rem;
    border-radius: 10px;  
    transition: all 0.3s ease-in-out; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.projects .project-two .links .web-link svg {
    fill: #00ADB5;
    font-weight: 800;    
    transition: all 0.3s ease-in-out; 
}
.projects .project-two .links .web-link:hover {
    background-color: #00ADB5    
}
.projects .project-two .links .web-link svg:hover {
    fill: #222831;
    
}
/* 
Contact
 */
.contact {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #eeeeee;
    background-color: #222831;
    padding: 8rem 10rem;
}
.contact-wrap {
    display: flex;
    background-color: #393E46;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.contact-wrap .logo {
    border: 3px solid #00ADB5;
    color: #00ADB5;
    font-weight: 800;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.contact-wrap .logo:hover {
    color: #222831;
    background-color: #00ADB5;    
}
.contact-wrap .about-contact {
    font-size: 2rem;
    text-align: center;
}
.contact-wrap .social-links {
    padding: 1rem;    
}
.contact-wrap .social-links a {
    padding: 0;
    margin: 5px;
}
.contact-wrap .social-links a svg {
    margin: 0 1rem;
    fill: #222831;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.contact-wrap .social-links a .facebook:hover {
    fill: #fff;
    background-color: #4267B2;
    
}
.contact-wrap .social-links a .instagram:hover {
    fill: #fff;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.contact-wrap .social-links a .twitter:hover {
    fill: #fff;
    background-color: #1DA1F2;
}
.contact-wrap .social-links a .linkedin:hover {
    fill: #fff;
    background-color: #0077b5;
}
.contact-wrap .social-links a .whatsapp:hover {
    fill: #fff;
    background-color: #075E54;
}
.contact-wrap .social-links a .github:hover {
    fill: #fff;
    background-color: #171515;
}
.contact-wrap .creator {
    font-size: 1.4rem;
}
.contact-wrap .creator span {
    color: #00ADB5
}
@media (max-width: 480px) {
    .home {
        flex-direction: column;
    }
    .left-col {
        width: 100%;
    }
    .right-col {
        width: 100%;
    }
    .rty-content {
        height: auto;
    }
    .intro-me {
        padding-bottom: 1rem;
        height: auto;
        
    }
    .why-sovtech {
        height: auto;
        padding-top: 1rem;
        height: fit-content;
    }
    
    .intro-me .hello-text {
        font-size: 2rem;
        text-align: center;
    }
    .intro-me .aboutme-text {
        font-size: 1rem;
        text-align: center;
    }
    .why-sovtech .sovtech-question {
        font-size: 2rem;
        text-align: center;
    }
    .why-sovtech .sovtech-answer {
        font-size: 1rem;
        text-align: center;
    }
    .portfolio {
        height: auto;
    }
    .projects {
        flex-direction: column;
        padding: 1rem 2rem;
        height: auto;
    }
    .projects .project-one {
        width: 100%;
        height: 50%;
        margin-bottom: 5px;
    }
    .projects .project-two {
        width: 100%;
        height: 50%;
        margin-top: 5px;
    }
    .contact {        
        height: auto;
        padding: 1rem 2rem;
    } 
    .contact-wrap .logo {
        margin: 3rem 0;
    }
    .contact-wrap .about-contact {
        font-size: 2rem;
        text-align: center;
        margin: 0 0 2rem 0;
    }
    .contact-wrap .social-links {
        display: flex;
        width: 100%;  
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0 2rem 0;
        height: 6rem;

    }
    .contact-wrap .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;        
    }
    .contact-wrap .social-links a svg{
        width: 100%;   
        height: 100%;
    }
    .contact-wrap .creator {
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px){
    .home {
        flex-direction: column;
    }
    .left-col {
        width: 100%;
    }
    .right-col {
        width: 100%;
    }
    .rty-content {
        height: auto;
    }
    .intro-me {
        padding-bottom: 1rem;
        height: auto;
        
    }
    .why-sovtech {
        height: auto;
        padding-top: 1rem;
        height: fit-content;
    }
    
    .intro-me .hello-text {
        font-size: 2rem;
        text-align: center;
    }
    .intro-me .aboutme-text {
        font-size: 1rem;
        text-align: center;
    }
    .why-sovtech .sovtech-question {
        font-size: 2rem;
        text-align: center;
    }
    .why-sovtech .sovtech-answer {
        font-size: 1rem;
        text-align: center;
    }
    .projects {
        flex-direction: column;
        padding: 1rem 2rem;
        height: auto;
    }
    .projects .project-one {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }
    .projects .project-two {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }
    .contact {        
        height: auto;
        padding: 1rem 2rem;
    } 
    .contact-wrap .logo {
        margin: 3rem 0;
    }
    .contact-wrap .about-contact {
        font-size: 2rem;
        text-align: center;
        margin: 0 0 2rem 0;
    }
    .contact-wrap .social-links {
        display: flex;
        width: 100%;  
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0 2rem 0;
        height: 6rem;

    }
    .contact-wrap .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;        
    }
    .contact-wrap .social-links a svg{
        width: 100%;   
        height: 100%;
    }
    .contact-wrap .creator {
        margin-bottom: 2rem;
    }
}
